
/* Your CSS Code here. */
table, td, th {  
  border: 1px solid black;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 7px;
}
.one{
  background-color: rgb(244, 42, 42);
  color: white;  
}
.two{
  background-color: palevioletred;
  color: white;  
}
.three{
  background-color: rgb(214, 175, 175);
  color: black;  
}
.four{
  background-color: rgb(233, 222, 222);
  color: black;  
}
.a,.b,.c{
  text-align: right;
}
